{% extends "../base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card">
      <div class="card-body">
          <h6>Expense LIST</h6>
          {% if user.is_authenticated %}
          <p>Welcome, {{ user.username }}</p>
    <a href="{% url 'create' %}"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createExpenseModal">Add</a>
{% else %}
    <a href="{% url 'login' %}?next={% url 'create' %}" class="btn btn-primary">Login to Add Expense</a>
{% endif %}
      
        </div>
        <div class="card-body px-0 pt-0 pb-2" >
          <div class="table-responsive p-0" style="background-color: black;" >
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">amount</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">description</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">expdate</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">category</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">subcategory</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">paymentmethod</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">status</th>
                  <th class="text-secondary opacity-7">ACTION</th>
                </tr>
              </thead>
              <tbody>
                {% for Expense in Expense %}

                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{Expense.amount}}</h6>
                       
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{Expense.description}}</p>
                    
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{Expense.expdate}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{Expense.category}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{Expense.subcategory}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{Expense.paymentmethod}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{Expense.status}}</span>
                  </td>
                  
                  <td class="align-middle">
                     <a href="{% url 'Edit' Expense.id %}" style="background-color:darkgreen;" class="btn btn-primary btn-sm mb-0 w-30" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      EDIT
                    </a>  
                    <a  href="{% url 'detail' Expense.id %}" style="background-color:darkblue;"  class="btn btn-primary btn-sm mb-0 w-30" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        DETAIL
                      </a> 
                    
                        <a href= "{% url 'Delete' Expense.id %}" style="background-color:darkred;"class="btn btn-primary btn-sm mb-0 w-30" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        DELETE
                      </a>  
                  </td>
                </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}