
{% extends 'base.html' %}

{% load static %} 
{% block content %}

{% load crispy_forms_tags %}

{% block navbar %}
    
{% endblock navbar %}

{% block nav %}
    
{% endblock nav %}

<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
                <div class="card-body px-5 py-5">
                    <h3 class="card-title text-left mb-3">Login</h3>
                    <div class="input-group">
                        <form role="form" method="POST">
                          {% csrf_token %}

                          <div class="mb-2">
                            <div class="input-group-prepend bg-transparent">
                              <i class="mdi mdi-name-outline text-primary"></i>
                              {{ form.username|as_crispy_field }}
                            </div>
                          </div>

                          <div class="mb-2">
                            <div class="input-group-prepend bg-transparent">
                              <i class="mdi mdi-lock-outline text-primary"></i>
                              {{ form.password|as_crispy_field }}
                            </div>
                          </div>

                          <div class="my-2 d-flex justify-content-between align-items-center">
                            <div class="form-check">
                              <label class="form-check-label text-muted">
                                <input type="checkbox" class="form-check-input">
                                Remember me
                              </label>
                            </div>
                            <a href="#" class="auth-link text-black">Forgot password?</a>
                          </div>

                          <div class="my-2">
                            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">LOGIN</button>
                          </div>

                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}